#search {
        margin: 0 15px;
        padding: 8px 12px;
        border: 1px solid gray;
        border-radius: 9999px;
}

#categories {
        padding: 8px 12px;
        border: 1px solid gray;
        border-radius: 9999px;
        text-transform: capitalize;
}

#products-container {
        display: flex;
        flex-direction: column;
        height: fit-content;
}

.product-card {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        margin: 7px 0;
}

.product-card #img-wrapper {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 30%;
        min-width: 90px;
        max-width: 140px;
        height: auto;
        padding: 10px;
        margin: 0 0;
        background-color: rgb(112, 217, 224);
        border-radius: 8px 0 0 8px;
}

.product-card img {
        width: 80%;
        height: auto;
        object-fit: contain;
        margin: auto;
}

.product-card #content {
        width: 100%;
        padding: 10px 20px;
        background-color: rgb(240, 193, 123);
        border-radius: 0 8px 8px 0;
}

.product-card #content button {
        padding: 6px 12px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 6px;

        cursor: pointer;
        transition: background-color 0.2s ease;
}

.product-card #content button:hover {
        background-color: lightgray
}